services:
  - type: web
    name: maconaria-api
    env: go
    region: oregon # ou outra região próxima
    plan: free # ou starter/standard
    buildCommand: go build -tags netgo -ldflags '-s -w' -o app cmd/main.go
    startCommand: ./app
    envVars:
      - key: DB_DRIVER
        value: mysql
      - key: DB_HOST
        sync: false # configurar manualmente no dashboard
      - key: DB_PORT
        value: 3306
      - key: DB_USER
        sync: false # configurar manualmente no dashboard
      - key: DB_PASSWORD
        sync: false # configurar manualmente no dashboard
      - key: DB_NAME
        sync: false # configurar manualmente no dashboard
      - key: DB_SSLMODE
        value: false
      - key: JWT_SECRET
        generateValue: true # gera automaticamente
      - key: JWT_EXPIRES_IN_MIN
        value: 1440
      - key: SERVER_PORT
        value: 8080
      - key: AUTO_MIGRATE
        value: true # true para produção se quiser auto-migrate